Package: gmu
Version: 20190923
Description: gmu
Section: apps
Priority: optional
Maintainer: jbanes
Architecture: mipsel
Homepage: https://github.com/guangmingwan/RG350-gmu/
Depends:
Source: https://github.com/guangmingwan/RG350-gmu/
